*{
    margin: 0;
    padding: 0;
}
.budget-section{
    background-color: brown;
    height: 40%;
    color: white;
}
.budget-content{
    text-align: center;
    padding-top: 30px;
}
.budget-title{
    text-align: center;
    margin: 10px;
}
.budget-money{
    font-size: 40px;
}
.ingress-info{
    margin: 20px auto;
    background-color: cornflowerblue;
    width: 25%;
    padding: 10px;
}
.ingress-title{
    position: absolute;
    text-transform: uppercase;
}
.info-content{
    text-align: right;
}
.egress-info{
    margin: 20px auto;
    background-color: tomato;
    width: 25%;
    padding: 10px;
}
.egress-title{
    position: absolute;
    text-transform: uppercase;
}





.data-section{
    background-color: gainsboro;
    height: 80px;
    text-align: center;

}
.data-content{
    display: grid;
    grid-template-columns: 80% 20%;
    margin-left: 20%;
    padding-top: 20px;
    text-align: center;
}
.btn-ok{
    border-radius: 50px;
    width: 50px;
    cursor: pointer;
}